## Simpler Returns - Part I

Download the data for Microsoft (‘MSFT’) from Yahoo Finance for the period ‘2000-1-1’ until today.

In [1]:
import numpy as np
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
MSFT = wb.DataReader('MSFT', data_source='yahoo', start='2000-1-1')

Apply the .**head()** and **.tail()** methods to check if the data is ok. Always pay attention to the dates. Try to get an idea about how the stock price changed during the period.

In [3]:
MSFT.head()

               High      Low      Open     Close      Volume  Adj Close
Date
1999-12-31  58.8750  58.1250  58.75000  58.37500  12517600.0  36.991508
2000-01-03  59.3125  56.0000  58.68750  58.28125  53228400.0  36.932102
2000-01-04  58.5625  56.1250  56.78125  56.31250  54119000.0  35.684532
2000-01-05  58.1875  54.6875  55.56250  56.90625  64059600.0  36.060772
2000-01-06  56.9375  54.1875  56.09375  55.00000  54976600.0  34.852810

In [5]:
MSFT.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-05-17,246.589996,243.520004,246.550003,245.179993,24970200.0,244.615158
2021-05-18,246.410004,242.899994,246.270004,243.080002,20168000.0,242.520004
2021-05-19,243.229996,238.600006,239.309998,243.119995,25739800.0,243.119995
2021-05-20,247.949997,243.860001,243.960007,246.479996,21800700.0,246.479996
2021-05-21,248.330002,244.740005,247.570007,245.169998,21855500.0,245.169998

### Simple Rate of Return

Calculate the simple returns of ‘MSFT’ for the given timeframe.

$$
\frac{P_1 - P_0}{P_0} = \frac{P_1}{P_0} - 1
$$

In [7]:
MSFT['simple_return'] = (MSFT['Adj Close'] / MSFT['Adj Close'].shift(1)) - 1
print (MSFT['simple_return'])

Date
1999-12-31         NaN
2000-01-03   -0.001606
2000-01-04   -0.033780
2000-01-05    0.010543
2000-01-06   -0.033498
                ...
2021-05-17   -0.011969
2021-05-18   -0.008565
2021-05-19    0.002474
2021-05-20    0.013820
2021-05-21   -0.005315
Name: simple_return, Length: 5382, dtype: float64